<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>4ceroflia</title>
    <link rel="icon">
</head>
<body>
<h1>4ceroflia</h1>
两种打开方式：
1访问URL，通过网站运行
2平时开发-本地打开-右上角标
3本地文件打开
<h1>CSS样式</h1>
<h1>JavaScript动态效果</h1>
模板+框架的基础上进行开发（推荐）
Bootstrap定制
<h1>SS-html标签</h1>
<a>mark-a</a>
<div>块级</div><div>无自带特效</div><div>div</div>
<span>行内级别</span><span>无特效</span><span>span</span>
h1-h6系列标签-标题标签
<h1>china</h1>
<h2>china</h2>
<h3>china</h3>
<h4>china</h4>
<h5>china</h5>
<h6>china</h6>
<a href="https://www.baidu.com" target="_blank">超链接a标签</a>
<a href="#n1">a标签做锚点</a>
<div id="n1">锚点测试</div>
---输入input
<input type="text" />
<input type="password" />
<input type="checkbox" />
<input type="radio" name="hc"/>
<input type="radio" name="hc"/>
<input type="file"/>
---下拉框
<select multiple>
    <option>beijing</option>
    <option>shanghai</option>
    <option>hangzhou</option>
</select>
---多行文本框textarea
<textarea rows = 5></textarea>
---form标签获取input等的内容
<form action="http://www.baidu.com/" method="get">/post方式传递但是看不到，get看的到url
    form标签包裹需要体积爱奥奥的东西
    <input type="text" name="v1"/>  v1=input123
    <input type="password" name="v2"/>v2=password999
    必须要有submit按钮触发提交表单的动作
    ，内部用户交互的标签，必须要有name属性用于赋值
    form表单必须有action提交地址和method提交方式（get）（post）
    <input type="submit" value="提交">
</form>
</body>
</html>