<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <a href="https://www.baidu.com" target="_blank">4ceri store</a>
    <a href="https://www.miui.com" target="_blank">4ceriUI</a>
    <a href="https://www.sina.com" target="_blank">4ctech</a>
    <a href="https://www.zhihu.com" target="_blank">4cpart</a>
</div>
<div>
    <a href="https://www.baidu.com" target="_blank">
        <img src="img/1.jpg" width="120px">
    </a>
    <a href="https://www.baidu.com" target="_blank"> 4cphone</a>
    <a href="https://www.baidu.com" target="_blank">4cTV</a>
    <a href="https://www.baidu.com" target="_blank">4cPC</a>

    <form action="https://www.baidu.com/s" method="get" style="display: inline">
        <input type="text" placeholder="我是默认值" name="wd"/>
        <input type="submit" value="search">
    </form>
</div>


</body>
</html>