<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
    <style>
        h1{
        color:red;
        }
        span{
        display:inline-block;
        width:80px;
        text-align:right;
        }
    </style>
</head>
<body>
<h1>Register</h1>
<form action="/do/register" method="get">
    <div><span>name:</span><input type="text" placeholder="enter your name" name="user"></div>
    <div><span>passwd:</span><input type="password" placeholder="enter your password" name="pwd"></div>

    <div><span>male/femail:</span>
        male<input type="radio" name = "sex" value="male">
        female<input type="radio" name = "sex" value="female">
    </div>

    <div>
        <span>your city:</span>
        <select name="city">
            <option value="sh">Shanghai</option>
            <option value="hz">Hangzhou</option>
            <option value="bj">Beijing</option>
            <option value="sz">Shenzhen</option>
            <option value="hk">Hongkong</option>
            <option value="tp">Taipei</option>
            <option value="nb">Ningbo</option>
        </select>
    </div>
    <div>
        <span>your hobbit:</span>
        basketball<input type="checkbox" name="hob" value="bb">
        football<input type="checkbox" name="hob" value="fb">
        tabletennis<input type="checkbox" name="hob" value="tt">
        others<input type="checkbox" name="hob" value="ot">
    </div>
    <div>
        <span>other massage:</span><textarea name="more"></textarea>
    </div>
    <div>
        <input type="submit" value="push">
    </div>
</form>
</body>
</html>